<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>TIL</title>
    <link rel="stylesheet" href="https://newcss.net/theme/new.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <section>
        <h1 style="font-family: monospace; color: #f23b3f; font-weight: normal; border-bottom: 1px solid #ccc; text-align: right;">Today I Learned</h1>
        {{ content }}
    <section>
  </body>
</html>
